# DisableFormat: true
AccessModifierOffset: -4
BasedOnStyle: LLVM
IndentWidth: 8
ColumnLimit: 120
AllowShortBlocksOnASingleLine: Empty
AllowShortLambdasOnASingleLine: Empty
AllowShortFunctionsOnASingleLine: Empty
AllowShortLoopsOnASingleLine: true
